<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se.dao.CheckInDao">

    <select id="ifCheckIn" resultType="int">
        select COUNT(*)
        from checklog
        where year=#{year} and month=#{month} and day=#{day} and name=#{name}
    </select>


    <insert id = "checkIn">
        insert into checklog (`name`,`year`,`month`,`day`,`hour`,`minute`,`second`)
        values (#{name},#{year},#{month},#{day},#{hour},#{minute},#{second});
    </insert>

    <select id="totalThisMonth" resultType="int">
        SELECT COUNT(*)
        FROM (SELECT name FROM checklog WHERE year=#{year} and month=#{month} and name=#{name}
        GROUP BY name HAVING count(*)>0)AS temp;
    </select>

    <select id="findAll" resultType="com.se.model.po.CheckInPO">
        select * from checklog order by year,month,day
    </select>

    <resultMap id="CheckInPO" type="com.se.model.po.CheckInPO">
        <result column="name" property="name"></result>
        <result column="year" property="year"></result>
        <result column="month" property="month"></result>
        <result column="day" property="day"></result>
        <result column="hour" property="hour"></result>
        <result column="minute" property="minute"></result>
        <result column="second" property="second"></result>

    </resultMap>

</mapper>