<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se.dao.PerformanceDao">
    <insert id="save" parameterType="PerformancePO">
        insert into performance(`name`,`month`,`p1`,`p2`,`p3`,`p4`,`p5`)
        values
        (#{name},#{month}, #{p1},#{p2},#{p3},#{p4},#{p5});
    </insert>

    <select id="findByName" resultType="com.se.model.po.PerformancePO">
        select * from performance
        where `name` = #{name} and `month`=#{month}
    </select>

    <select id="findAll" resultType="com.se.model.po.PerformancePO">
        select * from performance
        where `month`=#{month}
    </select>

    <update id="clockIn">
        update performance set `p5`=`p5`+1
        where `name`=#{name} and `month`=#{month}
    </update>

</mapper>