<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.se.dao.StuffDao">


    <insert id = "save" parameterType="StuffPO" useGeneratedKeys="true" keyProperty="id">
        insert into stuff (`name`,`realName`,`gender`,`birth`,`phoneNumber`,`baseSalary`,`jobSalary`,`jobLevel`
        ,`salaryCalculateWay`,`checkIN`,`job`)
        values
        (#{name},#{realName}, #{gender}, #{birth},#{phoneNumber},#{baseSalary},#{jobSalary},#{jobLevel},#{salaryCalculateWay},#{checkIn}
        ,#{job});
    </insert>

    <select id = "getStuffByName" resultMap="StuffPO">
        select * from stuff
        where `name` = #{name}
    </select>

    <select id = "getAllStuff" resultMap="StuffPO">
        select * from stuff
    </select>

    <resultMap id="StuffPO" type="com.se.model.po.StuffPO">
        <id column="name" property="name"></id>
        <result column="realName" property="realName"></result>
        <result column="gender" property="gender"></result>
        <result column="birth" property="birth"></result>
        <result column="phoneNumber" property="phoneNumber"></result>
        <result column="baseSalary" property="baseSalary"></result>
        <result column="jobSalary" property="jobSalary"></result>
        <result column="jobLevel" property="jobLevel"></result>
        <result column="salaryCalculateWay" property="salaryCalculateWay"></result>
        <result column="checkIN" property="checkIn"></result>
    </resultMap>
</mapper>